{#
/**
 * Template part for displaying page content in page.php.
 *
 * @link https://codex.wordpress.org/Template_Hierarchy
 *
 * @package Under_Timber
 */
#}
<article id="post-{{ post.ID }}" {{ fn('post_class') }}>
    {% if post.meta('_show_title') %}
        <header class="entry-header alignwide">
            <h1 class="entry-title">{{ post.title }}</h1>
        </header><!-- .entry-header -->
    {% endif %}

    <div class="entry-content">
        {{ post.content }}
        {{ fn('wp_link_pages', {
            'before': '<div class="page-links">' ~ __( 'Pages:', fk-starterx ),
            'after': '</div>'
        }) }}
    </div><!-- .entry-content -->

    <footer class="entry-footer">
        {% set edit_label = __('Edit %s', fk-starterx)|format('<span class="screen-reader-text">' ~ post.title ~ '</span>') %}
        {{ fn('edit_post_link', edit_label, '<span class="edit-link">', '</span>') }}
    </footer><!-- .entry-footer -->
</article><!-- #post-## -->
