{% if menu %}
<ul class="{{ class }} {{ item.get_children ? "sub-menu js-sub-menu" : "menu-item"}}">
  {% for item in menu %}
    <li class="{{item.classes | join(' ')}} {{ item_class }} {{ item.get_children ? "js-menu-with-sub" }}">
      <a class="menu-item__link js-menu-link {{ mobile_item_class }}"  {{ item.get_children ? "" : "href=" ~ item.link }}>
        {{ mobile_item_class ? item.title : '<span>' ~ item.title ~ '</span>' }}
      </a>
        {% if item.get_children %}
            {% include "menu.twig" with {
              'menu': item.get_children,
              'mobile_item_class' : ''
            } %}
        {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endif %}
