{#
/**
 * The template for displaying comments.
 *
 * This is the template that displays the area of the page that contains both the current comments
 * and the comment form.
 *
 * @link https://codex.wordpress.org/Template_Hierarchy
 *
 * @package Under_Timber
 */
#}

{% if not fn('post_password_required') %}
    <div id="comments" class="comments-area">
        {% set comments = post.comments %}
        {% set comment_pages_count = fn('get_comment_pages_count', comments) %}
        {% set page_comments = fn('get_option', 'page_comments') %}

        {# You can start editing here -- including this comment! #}
        {% if comments %}
            <h2 class="comments-title">
                {{ _nx('One thought on &ldquo;%2$s&rdquo;', '%1$s thoughts on &ldquo;%2$s&rdquo;', comments|length, 'comments title', fk-starterx)|format(function('number_format_i18n', comments|length), '<span>' ~ post.title ~ '</span>') }}
            </h2>

            {# Are there comments to navigate through? #}
            {% if comment_pages_count > 1 and page_comments %}
                <nav id="comment-nav-above" class="navigation comment-navigation" role="navigation">
                    <h2 class="screen-reader-text">{{ __( 'Comment navigation', fk-starterx ) }}</h2>
                    <div class="nav-links">
                        <div class="nav-previous">{{ fn('previous_comments_link', __('Older Comments', fk-starterx)) }}</div>
                        <div class="nav-next">{{ fn('next_comments_link', __('Newer Comments', fk-starterx)) }}</div>
                    </div><!-- .nav-links -->
                </nav><!-- #comment-nav-above -->
            {% endif %}

            <ol class="comment-list">
                {{ fn('wp_list_comments', {'style': 'ol', 'short_ping': true}, comments) }}
            </ol><!-- .comment-list -->

            {# Are there comments to navigate through? #}
            {% if comment_pages_count > 1 and page_comments %}
                <nav id="comment-nav-below" class="navigation comment-navigation" role="navigation">
                    <h2 class="screen-reader-text">{{ __( 'Comment navigation', fk-starterx ) }}</h2>
                    <div class="nav-links">
                        <div class="nav-previous">{{ fn('previous_comments_link', __('Older Comments', fk-starterx)) }}</div>
                        <div class="nav-next">{{ fn('next_comments_link', __('Newer Comments', fk-starterx)) }}</div>
                    </div><!-- .nav-links -->
                </nav><!-- #comment-nav-below -->
            {% endif %}
        {% endif %}

        {# If comments are closed and there are comments, let's leave a little note, shall we? #}
        {% if post.comment_status != 'open' and comments|length and fn('post_type_supports', post.post_type, 'comments') %}
            <p class="no-comments">{{ __('Comments are closed.', fk-starterx) }}</p>
        {% endif %}

        {{ fn('comment_form', {}, post.ID) }}
    </div><!-- #comments -->
{% endif %}