{% extends "base.twig" %}

{% block content %}
<div id="content" class="site-content">
    <div id="primary" class="content-area container">
        {% include 'template-parts/breadcrumbs.twig' %}
        <div class="search-field container--centered">
            <form class="search-field__form">
                <div class="input-submit">
                    <label class="styled-input" for="styled-input__search">
                        <input id="styled-input__search" class="styled-input__field" type="text" name="s" required placeholder=" ">
                        <span class="styled-input__placeholder">Type to search:</span>
                    </label>
                    <button type="submit" class="button">
                        <svg class="icon search-arrow" width="20" height="12">
                            <use xlink:href="{{ theme.path }}/build/spritemap.svg#search-arrow"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        <main id="main" class="site-main search-results container--centered" role="main">
            {% if posts %}
                <header class="search-results__header">
                    <h1 class="search-results__title">{{ __('Search Results for')}}</h1>
                    {{ __('<span class="search-results__query">' ~ fn('get_search_query') ~ '</span>') }} <span class="search-results__hits">( {{ posts_count }} {{ posts_count == '1' ? 'hit' : 'hits' }} )</span>
                </header><!-- .page-header -->
                <div class="search-posts">
                {% if posts is not empty %}
                    {% for post in posts %}
                        {% include ['template-parts/search-post.twig'] %}
                    {% endfor %}
                {% else %}
                    {{ __('No results') }}
                {% endif %}
                </div>
                {% include 'template-parts/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 1, end_size: 1}) } %}

            {% else %}
                {% include ['content-none.twig', 'content.twig'] %}
            {% endif %}
        </main><!-- #main -->
    </div><!-- #primary -->
</div>
{% endblock %}
