{#
/**
 * Template part for displaying posts.
 *
 * @link https://codex.wordpress.org/Template_Hierarchy
 *
 * @package Under_Timber
 */
#}

{% set category_link = fn('get_category_link', post.category.ID ) %}
{% set author_link = fn('get_author_posts_url', post.post_author ) %}

<article id="post-{{ post.ID }}" {{ fn('post_class') }}>
    {% include 'template-parts/breadcrumbs.twig' %}
    <header class="entry-header container--centered text-center">
        <h1 class="entry-title title title--page">{{ post.title }}</h1>
    </header><!-- .entry-header -->

    <hr class="wp-block-separator is-style-wide">

    <div class="content content--article container--centered">
        <div class="content__share">
            <div class="share-buttons share-buttons--sidebar">
                <div class="share-buttons__title">Share</div>
                <div class="share-buttons__buttons">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=#url" target="_blank" rel="nofollow noopener" class="share-button ab-item">
                <span class="share-button__icon">
                  <svg class="icon" width="18" height="18">
                      <use xlink:href="{{ theme.path }}/build/spritemap.svg#fb"></use>
                    </svg>
                </span>
                        <span class="share-button__name">Facebook</span>
                    </a>
                    <a href="http://twitter.com/share?text=text goes here&url=http://url goes here&hashtags=hashtag1,hashtag2,hashtag3" target="_blank" rel="nofollow noopener" class="share-button ab-item">
                <span class="share-button__icon">
                  <svg class="icon" width="18" height="16">
                      <use xlink:href="{{ theme.path }}/build/spritemap.svg#twitter"></use>
                    </svg>
                </span>
                        <span class="share-button__name">Twitter</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="content__left entry-content">
            <div class="article">
                <div class="article__credits text-center">
                    {{ __('by', '_t') }} <a href="{{ author_link }}" class="article-info__author"><span>{{ post.author }}</span></a> | <span class="article-info__date">{{ post.date }}</span> {{ post.category.name ? '| <a class="article-info__tag" href="' ~ category_link ~ '"><span>' ~ post.category.name ~ '</span></a>' }}
                </div>
                <div class="article__content">
                    {{ post.content }}
                </div>
                {% include 'template-parts/tag-cloud.twig' with { modify: 'inside_article', centered: true } %}
            </div>
            <hr class="wp-block-separator is-style-dots-line has-margin-vertical-big">
            {% include 'template-parts/related-articles.twig' with { category: post.category, centered: true, posts: posts_in_category } %}
        </div>
    </div><!-- .entry-content -->
</article><!-- #post-## -->
