{#
/**
 * Template part for displaying posts.
 *
 * @link https://codex.wordpress.org/Template_Hierarchy
 *
 * @package Under_Timber
 */
#}
<article id="post-{{ post.ID }}" {{ fn('post_class') }}>
    <header class="entry-header container--centered text-center">
        <h1 class="entry-title title title--page">{{ post.title }}</h1>
    </header><!-- .entry-header -->

    <hr class="wp-block-separator is-style-wide">

    <div class="content content--article container--centered">
        <div class="content__left entry-content">
            <div class="article">
                <div class="article__credits text-center">
                    by <span class="article__info__author">{{ post.author }}</span> | <span class="article__info__date">{{ post.date }}</span> {{ post.tags ? '| <span class="article__info__tag">' ~ post.tags|join(', ') ~ '</span>' }}
                </div>
                {{ post.content }}
            </div>
        </div>
    </div><!-- .entry-content -->
</article><!-- #post-## -->
