{#
/**
 * Template part for displaying posts.
 *
 * @link https://codex.wordpress.org/Template_Hierarchy
 *
 * @package Under_Timber
 */
#}
<article id="post-{{ post.ID }}" {{ fn('post_class') }}>
    {% include 'template-parts/breadcrumbs.twig' %}
    <header class="entry-header">
        <h1 class="entry-title title title--page">{{ post.title }}</h1>
    </header><!-- .entry-header -->

    <hr class="wp-block-separator is-style-wide">

    <div class="content content--with-sidebar content--article">
        <div class="content__left entry-content">
            <div class="article">
                <div class="article__credits">
                    {{ __('by', '_t') }} <a href="{{ author_link }}" class="article-info__author"><span>{{ post.author }}</span></a> | <span class="article-info__date">{{ post.date }}</span> {{ post.category.name ? '| <a class="article-info__tag" href="' ~ category_link ~ '"><span>' ~ post.category.name ~ '</span></a>' }}
                </div>
                <div class="article__content">
                    {{ post.content }}
                </div>
                <div class="tag-cloud-links tag-cloud-links--inside-article tag-cloud-links--mobile">
                    {% include 'template-parts/tag-cloud.twig' %}
                </div>
            <hr class="wp-block-separator is-style-dots-line has-margin-vertical-big">
            {% include 'template-parts/related-articles.twig' with { category: post.category, posts: posts_in_category } %}
            </div>
        </div>
        <div class="content__right sidebar">
            {% include 'template-parts/tag-cloud.twig' %}
        </div>
    </div><!-- .entry-content -->
</article><!-- #post-## -->
