{% if menu %}
<ul class="menu-item {{ class }}">
  {% for item in menu %}
    <li class="{{item.classes | join(' ')}} {{ item_class }}">
      <a class="menu-item__link js-menu-link" href="{{ item.get_link }}">
        <span>{{ item.title }}</span>
      </a>
        {% if item.get_children %}
            <div class="sub-menu js-sub-menu">{% include "menu.twig" with { 'menu': item.get_children } %}</div>
        {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endif %}
