{% if posts_in_category %}
    <div class="related-articles">
        <div class="related-articles__title {{ centered ? 'text-center' }}">
            Related Articles
        </div>
        <div class="related-articles__items">
            {% for post_in_category in posts_in_category  %}
                <div class="related-articles__item">
                    <a href="{{ post_in_category.guid }}">
                        <img src="{{ (post_in_category.thumbnail and post_in_category.thumbnail._wp_attachment_metadata != 'a:0:{}') ? post_in_category.thumbnail.src|resize(250, 250) : theme.link ~ '/src/icons/250x250.svg' }}">
                        <div class="related-articles__item__title {{ centered ? 'text-center' }}">
                            {{ post_in_category.post_excerpt|excerpt(20) }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
