<div class="container alignwide">
    <div class="row columns-4 column-gap-medium">
        <div>
            {{ footer1 }}
            <div class="site-info copyright">
                &copy; {{ now|date('Y') }} {{ bloginfo('name') }} {{ fn('get_theme_mod', 'copyright_text') }}
            </div><!-- .site-info -->
        </div>
        <div>
            {{ footer2 }}
        </div>
        <div>
            {{ footer3 }}
        </div>
        <div>
            {{ footer4 }}
        </div>
    </div>
</div>
